.logo{
    width: 200px;
    margin: auto;
    color:black;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo img{
    width: 100%;
}
